<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/kit/css/theme.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
    <script src="https://kit.fontawesome.com/710667f71a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="flex-shrink-0">
                    <h3 class="fs-5 fw-semibold sidebar-title p-3">Account</h3>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1 single-item activeable active">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white  ">
                                <i class="fa-solid fa-table-columns">&nbsp;</i>
                                <a href="@Url.Action("Index","ShopDashBoard")">DashBoard</a>
                            </button>
                        </li>

                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-table-columns">&nbsp;</i>
                                    Product
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="home-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="Category" class="">View all</a></li>
                                    <li class="activeable"><a href="@Url.Action("AddProduct","product")" class="">Add Product</a></li>
                                    <li class="activeable"><a href="#" class="">Static</a></li>
                                </ul>
                            </div>
                        </li>

                      
                    </ul>
                </div>
            </div>
            <div class="col-10 left-col">


                @RenderBody()

            </div>
        </div>
    </div>


    <script src="~/js/SidebarControl.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
