@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
p{
    margin:0px !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  font-family: 'Poppins', sans-serif;
}

.clickable{
    cursor:pointer;
    position:relative;
}

.clickable:hover {
    color:blue;
    transition:color ease-in 0.2s;
}

.edit-hint {
    display: none;
    position:absolute;
    left:10px;
    top:20px;
}

.item:hover .edit-hint {
    display: inline;
    color: gray;
    font-size: 0.8em;
}

#file-ip-1-preview {
    border: 2px solid #de6c08;
}

.img-container {
    border: 1px solid #eaeaea;
    border-radius:2px;
    padding: 15px;
    width:65%;
    margin-left:0px !important;
}

.next-btn{
    margin-left:640px;
    margin-top:30px;
}