@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change Password - E-Retailing Portal</title>
	<link rel="stylesheet" href="~/kit/css/material-kit.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style>
		.form-box {
			border: 1px solid #dee2e6;
			border-radius: 0.25rem;
			padding: 20px;
			background-color: #f8f9fa;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			width: 500px;
			margin: auto;
		}
	</style>
</head>
<body>
	<div class="container py-4">
		<div class="row">
			<div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
				<h3 class="text-center" style="width: 500px  margin: auto;">Information Form</h3><br />
				<div class="form-box">
					<form role="form" asp-controller="SellerForgotPassword" asp-action="SendOTP" method="post" autocomplete="off">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12 ps-2">
									<div class="input-group input-group-dynamic" style="border:none">
										<label class="form-label">Email Address</label>
										<input type="email" class="form-control" style="box-shadow: none; border:none" name="emailTo" maxlength="100" required><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mt-2">
									<button type="submit" class="btn bg-gradient-dark w-100">Send Information</button>
								</div>
							</div>
						</div>
					</form>
					@if (TempData["NullEmail"] != null)
					{
						<div class="alert alert-danger" style="color: white; background-color: #dc3545; border: 1px solid #dc3545; font-size: 0.975rem;">
							@TempData["NullEmail"]
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<script src="~/kit/js/material-kit.js"></script>
</body>
</html>
